.pre-view-icons__card {
  width: 120px;
  height: 120px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--n-border-color);
  border-radius: var(--n-border-radius);
}
