.layout-footer-wrapper {
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.ray-template--dark .layout-footer-wrapper {
  background-color: $layoutFooterBackgroundColorDark;
}

.ray-template--light .layout-footer-wrapper {
  background-color: $layoutFooterBackgroundColorLight;
}
