$globalSearchWidth: 650px;

.global-search {
  position: fixed;
  width: $globalSearchWidth;
  left: 50%;
  margin-left: calc(0px - $globalSearchWidth / 2);
  top: 60px;

  & .global-search__wrapper {
    box-sizing: border-box;

    & .global-search__card {
      border-radius: 6px;
      min-width: 800px;

      & .ray-icon {
        color: var(--ray-theme-primary-color);
      }

      & .n-card__action {
        padding: 16px 12px 12px 12px;
      }

      & .n-card__content {
        min-height: 115px;
      }

      & .content-item {
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s var(--r-bezier);
        border: 1px solid var(--n-border-color);

        & .content-item-icon {
          @include flexCenter;
        }
      }

      & .item-icon {
        min-width: 24px;
        border-radius: 4px;
        border: 1px solid var(--n-border-color);
        padding: 3px 6px;
        background-color: var(--n-action-color);
      }

      & .item-icon,
      & .item-label {
        transform: scale(0.75);
        font-weight: bolder;
      }

      & .global-search__card-content .content-item {
        &.content-item--active,
        &:hover {
          background-color: var(--ray-theme-primary-fade-color);
        }
      }
    }
  }
}
