$space: calc($layoutRouterViewContainer / 2);
$menuTagWrapperWidth: 76px;

.menu-tag {
  height: $layoutMenuHeight;
  display: flex;
  align-items: center;
  padding: 6px 0;

  & .menu-tag-space {
    width: calc(100% - $space * 2);
    padding: $space;

    & .menu-tag-wrapper {
      width: calc(100% - $space * 2 - $menuTagWrapperWidth);
    }

    & .ray-icon {
      cursor: pointer;
    }

    & .menu-tag__right-wrapper {
      & .menu-tag__right-arrow {
        transform: rotate(180deg);
      }

      & .menu-tag__right-setting {
        width: 28px;
        height: 20px;
      }
    }
  }

  & .n-tag {
    cursor: pointer;
  }
}

// 激活标签页关闭按钮样式
.menu-tag {
  .menu-tag__btn {
    padding: 7px 10px;

    .menu-tag__btn-icon--hidden {
      display: none !important;
    }

    .menu-tag__btn-icon {
      display: inline;
      margin-left: 0;
      width: 0;
      height: 0;
      transition: all 0.3s var(--r-bezier);
      overflow: hidden;
      opacity: 0;

      & .ray-icon {
        width: 11px !important;
        height: 11px !important;
      }
    }

    &:hover {
      .menu-tag__btn-icon {
        width: 14px;
        height: 14px;
        margin-left: 5px;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        padding: 1px;
        transition: all 0.3s var(--r-bezier);
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// 设置 dropdown animate svg 尺寸
.menu-tag__dropdown {
  & .menu-tag__icon {
    width: 18px;
    height: 18px;
  }
}

.menu-tag__right-setting--spinning {
  animation: elementRotate 0.8s linear infinite;
}

.ray-template--light .menu-tag {
  box-shadow: 0 2px 2px $layoutShadowColorLight;
}

.ray-template--dark .menu-tag {
  box-shadow: 0 2px 2px $layoutShadowColorDark;
}
