$space: $layoutRouterViewContainer / 2;

.menu-tag {
  height: $layoutMenuHeight;

  & .menu-tag-sapce {
    width: calc(100% - $space * 2);
    padding: $layoutRouterViewContainer / 2;
  }

  & .n-tag {
    cursor: pointer;
  }
}
