$space: calc($layoutRouterViewContainer / 2);

.menu-tag {
  height: $layoutMenuHeight;

  & .menu-tag-sapce {
    width: calc(100% - $space * 2);
    padding: $space;
  }

  & .n-tag {
    cursor: pointer;
  }
}
