// 模糊匹配内容区域切换过渡动画包含: transform-leave-active 的 class
[class*='transform-leave-active'] {
  position: absolute;
}

/* fade-slide-transform */
.fade-slide-transform-leave-active,
.fade-slide-transform-enter-active {
  transition:
    transform 0.48s var(--r-bezier),
    opacity 0.48s var(--r-bezier);
}

.fade-slide-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* scale-transform */
.scale-transform-enter-active,
.scale-transform-leave-active {
  transition:
    transform 0.4s var(--r-bezier),
    opacity 0.45s var(--r-bezier);
}

.scale-transform-enter-from {
  opacity: 0;
  transform: scale(0.92);
}

.scale-transform-leave-to {
  opacity: 0;
  transform: scale(1.06);
}

/* opacity-transform */
.opacity-transform-leave-active,
.opacity-transform-enter-active {
  transition: opacity 0.55s var(--r-bezier);
}

.opacity-transform-enter-from {
  opacity: 0;
}

.opacity-transform-leave-to {
  opacity: 0;
}

/* fade-bottom-transform */
.fade-bottom-transform-enter-active,
.fade-bottom-transform-leave-active {
  transition:
    opacity 0.55s var(--r-bezier),
    transform 0.45s var(--r-bezier);
}

.fade-bottom-transform-enter-from {
  opacity: 0;
  transform: translateY(-10%);
}

.fade-bottom-transform-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

/* fade-scale-transform */
.fade-scale-transform-leave-active,
.fade-scale-transform-enter-active {
  transition: all 0.48s var(--r-bezier);
}

.fade-scale-transform-enter-from {
  opacity: 0;
  transform: scale(1.2);
}

.fade-scale-transform-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
