// 模糊匹配内容区域切换过渡动画包含: transform-leave-active 的 class
[class*='transform-leave-active'] {
  position: absolute;
}

/* fade-slide-transform */
.fade-slide-transform-leave-active,
.fade-slide-transform-enter-active {
  transition:
    transform 0.48s var(--r-bezier),
    opacity 0.48s var(--r-bezier);
}

.fade-slide-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* scale-transform */
.scale-transform-enter-active {
  transition:
    transform 0.35s cubic-bezier(0.33, 1, 0.68, 1),
    opacity 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.25s;
}

.scale-transform-leave-active {
  transition:
    transform 0.35s cubic-bezier(0.32, 0, 0.67, 0),
    opacity 0.25s ease-out;
}

.scale-transform-enter-from {
  opacity: 0;
  transform: scale(0.95);
}

.scale-transform-leave-to {
  opacity: 0;
  transform: scale(1.03);
}

/* opacity-transform */
.opacity-transform-leave-active,
.opacity-transform-enter-active {
  transition: opacity 0.55s var(--r-bezier);
}

.opacity-transform-enter-from {
  opacity: 0;
}

.opacity-transform-leave-to {
  opacity: 0;
}

/* fade-bottom-transform */
.fade-bottom-transform-enter-active {
  transition:
    transform 0.35s cubic-bezier(0.33, 1, 0.68, 1),
    opacity 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.25s;
}

.fade-bottom-transform-leave-active {
  transition:
    transform 0.35s cubic-bezier(0.32, 0, 0.67, 0),
    opacity 0.25s ease-out;
}

.fade-bottom-transform-enter-from {
  opacity: 0;
  transform: translateY(-15px);
}

.fade-bottom-transform-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

/* fade-scale-transform */
.fade-scale-transform-enter-active {
  transition:
    transform 0.35s cubic-bezier(0.33, 1, 0.68, 1),
    opacity 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.25s;
}

.fade-scale-transform-leave-active {
  transition:
    transform 0.25s cubic-bezier(0.32, 0, 0.67, 0),
    opacity 0.25s ease-out;
}

.fade-scale-transform-enter-from {
  opacity: 0;
  transform: scale(1.1);
}

.fade-scale-transform-leave-to {
  opacity: 0;
  transform: scale(0.85);
}
