// css vars root
:root {
  --r-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

// animation root
@keyframes elementRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
