$layoutRouterViewContainer: 18px;
$layoutHeaderHeight: 64px;
$layoutMenuHeight: 46px;
// 内容区域背景色（dark）
$layoutContentBackgroundColorDark: #101014;
// 内容区域背景色（light）
$layoutContentBackgroundColorLight: #f7f9f8;
// 底部区域背景色（dark）
$layoutFooterBackgroundColorDark: rgba(24, 24, 28, 1);
// 底部区域背景色（light）
$layoutFooterBackgroundColorLight: rgba(255, 255, 255, 1);
