.ray-table__setting:hover {
  transform: rotate(180deg);
  transition: transform 0.3s var(--r-bezier);
}

.table-setting__card {
  padding: 12px 8px;

  & .n-card__content {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.ray-table__setting-option--draggable {
  display: grid;
  grid-row-gap: 10px;
  justify-self: center;
  align-self: center;

  & .draggable-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 2px;
    transition: background-color 0.3s var(--r-bezier);

    &.draggable-item--dark {
      &:hover {
        background-color: $hoverDarkBackgroundColor;
      }
    }

    &:hover {
      background-color: $hoverLightBackgroundColor;

      & .draggable-item__d--icon {
        opacity: 1;
      }
    }

    & .draggable-item__d--icon {
      transition: opacity 0.3s var(--r-bezier), transform 0.3s var(--r-bezier);
      opacity: 0;
    }

    & .draggable-item__d--icon,
    & .draggable-item__icon {
      padding: $iconSpace;
      outline: none;
      border: none;
    }

    & .draggable-item__icon {
      cursor: pointer;
    }

    & .draggable-item__icon {
      &.draggable-item__icon--actived {
        color: $activedColor;
      }
    }

    & .n-ellipsis {
      max-width: 80px;
      min-width: 80px;
    }
  }
}
