.ray-chart {
  width: var(--r-chart-width);
  height: var(--r-chart-height);
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: width 0.35s var(--r-bezier);

  & .ray-chart__container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
