@keyframes scaleScreenfull {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.ray-table {
  & .ray-table-icon {
    transition: transform 0.3s var(--r-bezier);

    &:hover {
      animation: scaleScreenfull 0.3s linear;
      animation-direction: alternate;
    }
  }

  & .ray-table__setting,
  & .ray-table-icon {
    cursor: pointer;
    outline: none;
    border: none;
  }

  & .n-card-header .n-card-header__main {
    padding-right: var(--ray-table-header-space);
  }

  & .ray-table-header-extra__space {
    display: flex;
    gap: 0 12px;
    align-items: center;
  }
}
