.ray-table {
  & .ray-table__setting,
  & .ray-table-icon {
    cursor: pointer;
    outline: none;
    border: none;
  }

  & .n-card-header .n-card-header__main {
    padding-right: var(--ray-table-header-space);
  }
}
