.r-table__c-tree {
  & .n-tree-node-switcher.n-tree-node-switcher--hide {
    visibility: visible;
  }

  & .r-icon {
    &.r-table__c-tool-icon--active {
      color: var(--r-theme-primary-color);
    }
  }
}

.r-table__setting:hover {
  transform: rotate(180deg);
  transition: transform 0.3s var(--r-bezier);
}
