.layout-header {
  height: $layoutHeaderHeight;
  padding: 0 $layoutRouterViewContainer;
  display: flex;
  align-items: center;

  > .layout-header__method {
    width: 100%;
  }
}

.ray-template--light .layout-header {
  box-shadow: 0 1px 2px $layoutShadowColorLight;
}

.ray-template--dark .layout-header {
  box-shadow: 0 1px 2px $layoutShadowColorDark;
}
