.layout-header {
  height: $layoutHeaderHeight;
  padding: 0 $layoutRouterViewContainer;
  display: flex;
  align-items: center;

  > .layout-header__method {
    width: 100%;

    & .ray-icon__reload--loading {
      animation: elementRotate 0.8s linear infinite;
    }
  }
}
