.login {
  @include flexCenter;
  flex-direction: column;
  font-size: 36px;

  & .login-title {
    padding: 18px 0;
  }

  & .login-icon {
    border: none;
    outline: none;
  }

  & .n-card {
    width: 360px;
  }
}
