.r-icon {
  position: relative;
  width: var(--r-icon-width);
  height: var(--r-icon-height);
  border: none;
  outline: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--r-icon-color);
  transform: translateZ(0);
  opacity: var(--r-icon-depth);
  cursor: var(--r-icon-cursor);

  & svg[RIconAttribute='r-icon'] {
    width: var(--r-icon-width);
    height: var(--r-icon-height);
    fill: currentColor;
  }
}

.r-icon-path__animate {
  stroke-dasharray: var(--r-icon-path-length);
  stroke-dashoffset: var(--r-icon-path-length);
  animation: rayIconPathAnimate 2s forwards;
}

@keyframes rayIconPathAnimate {
  to {
    stroke-dashoffset: 0;
  }
}
