/**
 *
 * @author Ray <https://github.com/XiaoDaiGua-Ray>
 *
 * @date 2023-08-08
 *
 * @workspace ray-template
 *
 * @remark 今天也是元气满满撸代码的一天
 */

.ray-menu__logo {
  height: $layoutHeaderHeight;
  padding: 0 18px 0 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px 12px;
  font-weight: 600;
  overflow: hidden;
  border-right: solid 1px var(--n-border-color);

  &.ray-menu__logo-url {
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: var(--n-color);
    z-index: 20;
  }

  & .ray-menu__logo-title {
    opacity: 0;
    display: none;
    flex: 1;
    @include overflowEllipsis;

    &.ray-menu__logo-title--open {
      opacity: 1;
      display: inline-block;
    }
  }
}
