.layout {
  box-sizing: border-box;

  > .layout-full {
    height: 100%;
  }

  & .layout__view-container__layout .n-layout-scroll-container {
    overflow: hidden;
  }

  & .layout-content__router-view {
    height: var(--layout-content-height);
    padding: calc($layoutRouterViewContainer / 2);

    & .n-scrollbar-container {
      height: 100%;

      & .n-scrollbar-content {
        height: 100%;
      }
    }
  }
}
