.r-layout-full {
  position: fixed;
  inset: 0;

  & .n-layout-scroll-container {
    & .r-layout-full__viewer .n-layout-scroll-container {
      overflow: hidden;

      & .r-layout-full__viewer-content {
        height: var(--layout-content-height);
        padding: 16px;

        & .n-scrollbar-container {
          height: 100%;

          & .n-scrollbar-content {
            height: 100%;
          }
        }

        // 设置 content-wrapper 的样式
        .content-wrapper {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.ray-template--light .r-layout-full__viewer-content {
  box-shadow: 0 -1px 2px $layoutShadowColorLight;
}

.ray-template--dark .r-layout-full__viewer-content {
  box-shadow: 0 -1px 2px $layoutShadowColorDark;
}
