.r-layout-full {
  position: fixed;
  inset: 0;

  & .n-layout-scroll-container {
    & .r-layout-full__viewer .n-layout-scroll-container {
      overflow: hidden;

      & .r-layout-full__viewer-content {
        height: var(--layout-content-height);
        padding: 16px;

        & .n-scrollbar-container {
          height: 100%;

          & .n-scrollbar-content {
            height: 100%;
          }
        }
      }
    }
  }
}
